body {
  width: 100%;
  height: 100%;
  margin: 0;
  text-align: center;
}

/*Update the header: the text is a little wonky being aligned on the left 
like that. Provide a property that aligns it in the center instead.
Center our image: We only have one image on the page and we would like it 
centered!
Jazz up our navigation links: Let's center all of our nav links as well. 
Give all of the <a> tags within our navbar padding of 10px on their left and
right sides. In addition, change their background color to something of your 
choosing. We chose grey!
Our image caption needs work: Let's shrink that font size down and make sure 
it is centered.
Update the text block: Wouldn't it look nicer if our text was centered as well?
 Our image is about 900px wide, so let's give all our <p>s within 
 #featured-property a hard width of 800px and center the text in there. 
Be sure to keep a little vertical space around the <p>s.
Make our #details section horizontal: The details section could go nicely 
as a footer to the page, instead of a vertical list. To do this, make each 
of the <div>s float to the left.
As a finishing touch: Let's clean up the <div>s at the bottom of the page. 
All of them should have the same background color, centered text, and 
occupy 25% of the width of the bottom row (since we have 4 divs).*/

header {
  text-align: center;
}

a {
  padding:10px;
  background: white;
}


figcaption {
  font-size: smaller;
}

p {
  padding: 10px;
  margin: 0 auto;
  width:800px;
  overflow: hidden;
}

div {
  background-color: aliceblue;
  float: left;
  width: 25%;
  text-align: center;
  align-items: center;
  overflow: hidden;
}